<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />

    <title>Document</title>
  </head>
  <body>
    <h1>About</h1>
    <p>Welcome to spoofy!</p>
    <p>
      Spoofy is a web application that allows users to change their location on
      iOS Find My Friends. Users simply enter their Apple ID, the lat-long
      coordinates, and a duration, and Spoofy will make the user appear to be in
      that location for the desired duration.
    </p>
  </body>
</html>
