<!DOCTYPE html>
<html>
  <head>
    <title>Spoofy!</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='spoofy.ico') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />

    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
  </head>
  <body class="fixed-sn light-blue-skin">
    <header>
      <nav class="navbar bg-primary">
        <h1>Spoofy</h1>
        <ul>
          <a href="{{ url_for('static', filename='templates/about.html') }}">
            <li>About</li>
          </a>
        </ul>
      </nav>
    </header>
    <div class="container">
      <form>
        <div>
          <label for="usernameInput">Apple ID Email:</label>
          <input type="text" id="usernameInput" placeholder="Email" />
        </div>
        <div>
          <label for="passwordInput">Apple ID Password:</label>
          <input type="password" id="passwordInput" placeholder="Password" />
          <div>
            <label for="latitudeInput">Latitude:</label>
            <input type="text" id="latitudeInput" placeholder="Latitude" />
          </div>
          <div>
            <label for="longitudeInput">Longitude:</label>
            <input type="text" id="longitudeInput" placeholder="Longitude" />
          </div>
          <div>
            <label for="duration">Duration: (minutes, decimals work)</label>
            <input type="text" id="durationInput" placeholder="Duration" />
          </div>
          <button type="submit" class="btn btn-dark btn-block" id="form">
            Submit
          </button>
          <script>
            document
              .getElementById("form")
              .addEventListener("click", function(event) {
                var btn = document.getElementById("form");
                btn.innerHTML = "Now spoofing for your specified duration!";
                btn.className = "btn btn-success btn-block";
              });
          </script>
        </div>
      </form>
    </div>
  </body>
</html>
